<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="WSGI_HANDLER" value="serve.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwFlask\flask-app-test" />
  </appSettings>
</configuration>  